@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Nanum+Gothic&display=swap');

body{
  display: flex;
  justify-content: center;
  align-items:center;
  background:#A020F0;
  font-family: 'Nanum Gothic', sans-serif;
}

.main{
  width: 800px;
  margin: 10%;
  color: #fff;
  text-align: center;
}

#min, #sec, #mil{
  font-size: 2em;
}

button{
  background:#A020F0;
  color:#fff;
  border: solid 1px #fff;
  cursor:pointer;
  font-size: 1. 2em;
  padding:18px 10px;
  width:150px;
  margin: 10px;
  border-radius: 5px;
}

button:hover{
  background: #fff;
  color:#A020F0;
}